# Ambientes
.venv/
env/

# Quarto
_book/
.quarto/
*.quarto_ipynb
.jupyter_cache/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Datos crudos (si son muy pesados para GitHub)
data/raw/

# macOS
.DS_Store
**/.DS_Store